body {
    background-color: gray;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.title {
    max-width: 100%;
}
.desk {
    width: 60%;
    margin: 10% 20%;
    max-width: 250px;
    border-radius:500px;
    border: 15px solid black;
}
.graphic {
    width: 60%;
    margin: 10% 20%;
    max-width: 250px;
    border-radius:500px;
    border: 15px solid black;
}
.person {
    width: 60%;
    margin: 10% 20%;
    max-width: 250px;
    border-radius:500px;
    border: 15px solid black;
}
