header {
    display: grid;
    grid-template-columns: 1fr 75%;
    background-color: rgb(252, 252, 250);
}
#career_cluster {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: rgb(72, 140, 235);
}
nav {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
}
.logo {
    padding-top: 5px;
    grid-column: 1/2;
    width: 80px;
}
.options {
    grid-column: 1/2;
    padding: 30px;
}
.finding {
    grid-column: 2/3;
    padding: 30px;
}
.plan {
    grid-column: 3/4;
    padding: 30px;
}
#bookmark {
    background-color: rgb(222, 146, 224);
}
.bookmark-msg {
    text-align: center;
}
.bookmark-box {
    text-align: center;
    padding-bottom: 45px;
}
.bookmark-box-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    text-align: center;
    color: black;
}
.picture-square {
    background-color:  rgb(222, 146, 224);
}
.first-picture {
    width: 500px;
    padding: 30px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:rgb(252, 252, 250);
}
.citations {
    grid-column: 2/3;
    text-align: center;
    color: rgb(222, 146, 224);
}
.bookmark-img {
    width: 500px;
    height: 525px;
    grid-column: 1/2;
    margin: 0 auto;
    padding: 30px;
}
.words2 {
    grid-column: 1/2;
    text-align: center;
    padding-left: 150px;
    padding-top: 225px;
}
.glasses {
    width: 500px;
    height: 525px;
    margin: 0 auto;
    grid-column: 2/3;
    padding: 30px;
}
.words {
    color: black;
    text-align: center;
    padding-right: 150px;
    padding-top: 175px;
}
.bookmark-box-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.words4 {
    color: black;
    text-align: center;
    padding-right: 150px;
    padding-top: 150px;
}
.words3 {
    grid-column: 1/2;
    text-align: center;
    padding-left: 150px;
    padding-top: 200px;
}