header {
    display: grid;
    grid-template-columns: 1fr 75%;
    background-color: yellow;
}
#career_cluster {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: rgb(75, 58, 42);
}
nav {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
}
.logo {
    padding-top: 5px;
    grid-column: 1/2;
    width: 80px;
}
.options {
    grid-column: 1/2;
    padding: 30px;
}
.finding {
    grid-column: 2/3;
    padding: 30px;
}
.plan {
    grid-column: 3/4;
    padding: 30px;
}
#bookmark {
    background-color: rgb(141, 104, 243);
}

.bookmark-msg {
    text-align: center;
}
.bookmark-box {
    text-align: center;
    padding-bottom: 45px;
}
.bookmark-box-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    text-align: center;
    color: rgb(239, 57, 175);
}
.picture-square {
    background-color: green;
    padding-top: 20px;
    padding-bottom: 15px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:yellow;
}
.citations {
    grid-column: 2/3;
    text-align: center;
}
.bookmark-img {
    width: 500px;
    grid-column: 1/2;
    padding: 15px;
}
.words2 {
    grid-column: 1/2;
    padding-top: 120px;
}
.glasses {
    width: 500px;
    grid-column: 2/3;
    padding: 15px;
}
.words {
    padding-top: 90px;
    color: darkgreen;
}
.bookmark-box-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

