body {
    background-color: aquamarine;
}
.sec1 {
    background-color: dodgerblue;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.john {
    grid-column: 1/3;
    background-color: fuchsia;
}
footer {
    grid-column: 1/5;
    background-color: yellowgreen;
}
header {
    grid-template-columns: 1fr 3fr;
}