body {
    background-color: pink;
}

@media screen and (min-width: 602px) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: maroon;
    }
}